.hasFade { //default state of any elements fading in and out
    visibility: hidden;
}

@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
        z-index: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
        z-index: 4;
    }
}

.fadeIn {
    animation: fadeIn 250ms ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
        z-index: 4;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;
        z-index: 0;
    }
}

.fadeOut {
    animation: fadeOut 250ms ease-in-out forwards;
}