.searchbar {

    height: 608px;
    background-color: $cerulean;
    background-repeat: no-repeat;
    background-size: cover;

    span.blueHighlight {
        background-color: $twitterBlue;
    }

    &__padding {
        padding: 2.375rem;
    }

    &__header {
        padding-top: 5rem;
    }

    &__subtitle {
        color: $white;
        font-weight: 700;
        font-style: italic;
        text-shadow: 2px 2px 15px $twitterBlue;
        margin-bottom: 2.375rem;
    }

    &__form {
        
        .inputContainer {
            display: flex;
            width: 80vw;
            height: 4rem;
            margin-bottom: 1.5rem;
            padding: 0.625rem;
            background-color: $twitterBlue;
            border-radius: 2rem;
        }

        .icon {
            padding-top: 0.2rem;
        }

        .iconify {
            color: $white;
            font-size: 36px;
        }

        .inputField {
            width: 100%;
            padding: .625rem;
            border: none;
            outline: none;
            background-color: $twitterBlue;
            color: $white;
        }

        .inputButton {
            width: 8.5rem;
            height: 4rem;
            border-radius: 2rem;
            background-color: $twitterBlue;
            color: $white;
            border: none;
            outline: none;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
        }
        
        .inputButton:hover {
            background-color: $cerulean;
            transition: 0.3s;
        }
    }

    .logout {
        padding: 1.5rem;
        
        &__btn {
            color: $white;
        }
    }
}