<!doctype html>
<title>Search twitter usernames.</title>


{% if message %}
<h4>{{message}}!</h4>
{% endif %}

{% if tweets %}

<li>
    Username = {{tweets['username']}} <br>
</li>
<li> Account made at time/date = {{tweets['created_at']}} <br></li>
<li>User ID = {{tweets['id']}} <br></li>
<li>Twitter Description = {{tweets['description']}}</li>

{% endif %}

<body>
    <div class="title">
        <h2>Search below.</h2>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('twitter' )}}">
            <label for="username">Enter the username:</label>
            <input type="username" name="username" />
            <input type="submit" , name="search" , value="Search." />
        </form>
    </div>
</body>