<!doctype html>
<title>Search twitter usernames.</title>


{% if message %}
<h4>{{message}}!</h4>
{% endif %}

{% if tweets %}

{% for tweet in tweets %}

<li>
    {{tweet}} <br>
    <!--pass in a list of tweets, each only containing the text of said tweet. -->
</li>

{% endfor %}

{% endif %}

<body>
    <div class="title">
        <h2>Search below.</h2>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('twitter' )}}">
            <label for="username">Enter the username:</label>
            <input type="username" name="username" />
            <input type="submit" , name="search" , value="Search." />
        </form>
    </div>
</body>