<!doctype html>
<title>Search for stores to Ffnd a gift for your friend! </title>


{% if message %}
<h4>{{message}}!</h4>
{% endif %}



<body>
    <div class="title">
        <h2>Search below!</h2>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('twitter' )}}">
            <label for="username">Enter the username:</label>
            <input type="username" name="username" />
            <br>
            <br>
            <label for="city">Enter the city:</label>
            <input type="city" name="city" />
            <br>
            <input type="submit" , name="search" , value="Go!!" />
        </form>
    </div>
</body>

<ul>
    <li><a href='/'>Home</a></li>
    <br>
    <li><a href='/login'>Login</a></li>
    <li><a href='/logout'>Logout</a></li>
    <br>
    <li><a href='/twitter'>Find gift stores</a></li>
</ul>