html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: $font-med;
    color: $cerulean;
    line-height: 1.3;

    &.noscroll {
        overflow: hidden;
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: $white;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: $black;
    font-size: 2.5rem;
    margin-bottom: 2.1875rem;
}

p {
    font-family: 'Noto Sans', sans-serif;
    color: $cerulean;
    font-size: $font-med;
    margin-bottom: 1.5625rem;
}

a, a:visited, a:hover {
    text-decoration: none;
}

//Spacing Padding
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

//Flexbox styles
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
    &-jc-r {
        justify-content: right;
    }
}

//Buttons
button, .button {
    padding: 1.125rem;
    border-radius: 32px;
    cursor: pointer;
    background-color: $twitterBlue;
    border: 0;
    color: $white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    transition: 0.3s;
}

button:hover, .button:hover {
    background-color: $cerulean;
    color: $white;
}

//Visibility
.hide-for-mobile {
    //hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop vw
    @include breakpoint-up(large){
        display: none;
    }
}