html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: $font-med;
    color: $cerulean;
    line-height: 1.3;
}

a, a:visited, a:hover {
    text-decoration: none;
}

//Flexbox styles
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}