// Colors

$twitterBlue: #1DA1F2;
$cerulean: #0E6394;
$googleRed: #EA4335;
$googleYellow: #FBBC05;
$googleGreen: #34A853;
$black: #000000;
$white: #FFFFFF;

// Font sizes

$font-small: 14px;
$font-med: 18px;